* {
    box-sizing: border-box;
    --primary: white;
    --secondary: black;
    --borderColor: #f5f5f550;
    --thirdColor: #f5f5f550;

}
html {
    font-size:18px;

}

.icon, svg {
    color: var(--primary);
}

body {
    padding:0;
    margin:0;
    font-size:18px;
    background-color:var(--secondary);
    color:var(--primary);
}

input {
    font-size:18px;
    word-wrap: break-word; /* Force le texte à passer à la ligne si nécessaire */
    overflow-wrap: break-word; /* Alternative pour forcer le texte à passer à la ligne */

}

h1, ul, a {
    margin:0;
    padding:0;
    text-decoration: none;
}

.postContainer {
    border-right:1px solid var(--borderColor);
    max-width:630px;
    width:100%;
    min-width:320px;
}

.navigationContainer {
    position:relative;
    height:58px;
    max-width: 630px;
    width: 100%;
    min-width: 320px;
    background-color: var(--secondary);
    z-index: 100;
}

.postCreateInput {
    padding:4px 8px;
    border-radius: 20px;
    margin-bottom:8px;
    min-height:30px;
}

.main {
    display:flex;
    justify-content: center;
    align-self:center;
}

@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

#postList {
    display:flex;
    flex-direction: column;
}

.post {
    min-width:320px;
    max-width:630px;
    flex:1;
    padding:10px 15px 0 15px;
    border-top: 1px solid var(--borderColor);
    display:flex;
}

.post:last-child {
    border-bottom: 1px solid var(--borderColor);
}

.post:not(.mainPost):hover {
    cursor:pointer;
}

.fade-in {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.mainPost {
    position:relative;
    min-width:320px;
    width:100%;
    padding:10px 15px 0 15px;
    display:flex;
}

.mainPost::before {
    position: absolute;

}

.mainPost > .postInsideContainer > .postContentTools > .postContent {
    margin-top:15px;
}

.mainPost > .postInsideContainer > .postContentTools > .postTools {
    margin-top:10px;
}


.bold {
    font-weight: 800;
}

.sidebars {
    position:relative;
}

.sidebar {
    position:relative;
    min-width:300px;
    height:100vh;
}

.sidebarFixed {
    position:fixed;
    min-width:300px;
    height:100vh;
    border-right:solid var(--borderColor) 1px;
    padding:35px 30px 30px 35px;
}

.sidebarMobile {
    display:none;
    position:fixed;
    width:100%;
    bottom:0;
}

.sidebarMobile>.sidebarMobileContainer {
    display:flex;
}

.sidebarFixed>.sidebarFixedContainer {
    display:flex;
    font-size:24px;
    flex-direction: column;
    width:100%;
    height:100%;
}

.sidebarFixed>.sidebarFixedContainer>li {
    height:50px;
    width:100%;
}

a {
    color:var(--primary);
}

.sidebarIMG {
    width:32px;
    height:32px;
    margin-right: 25px;
}

.menuLink {
    display:flex;
    align-items: center;
    padding:10px 0;
    width:fit-content;
}

.menuLink:first-child {
    margin-bottom: 8px;
}

.postAvatarContainer {
    padding-right:8px;
    width:50px;
}

.postAvatar {
    width:40px;
    height:40px;
    border-radius: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:22px;
    border: 1px solid grey;
}

.postNameDate {
    display:flex;
    gap:12px;
    margin-bottom: 4px;
}

.postDate {
    color:grey;
}

.postContentTools {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 0;
}

.postRight {
    width:100%;
    height:100%;
}

.postTools {
    width:100%;
    display:flex;
    justify-content: space-evenly;
    padding:4px 0;
}

.postInsideContainer {
    flex:1;
    height:100%;
    width:75%;
}

.postToolsImage {
    width:16px;
    height:16px
}

.rightSidebar {
    position:relative;
    flex:1;
    max-width:50px;
}

.postTool {
    height:34px;
    width:34px;
    border-radius:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:4px;
}

.postCreateTool {
    display:flex;
    align-items: center;
    gap:4px;
}

.postCreateTools {
    padding:15px 0px;
    width:100%;
    min-height:55px;
    display:flex;
    justify-content: space-between;
    border-top: 1px solid var(--borderColor);
}

.postToolsImage {
    width:18px;
    height:18px
}

.createPost {
    position:relative;
    min-width:320px;
    max-width:600px;
    width:100%;
    padding:10px 15px 0 15px;
    border-bottom: 1px solid var(--borderColor);
    display:flex;
}

.createPost::before {
    content: '';
    position: absolute;
    color:var(--borderColor);
    background-color: var(--borderColor);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%; /* Bordure qui ne couvre que la moitié de la largeur */
    height: 1px;
}

.postCreateToolsImage {
    width:24px;
    height:24px
}

.postContent {
    margin-bottom:16px;
}

.fitWidth {
    width:inherit;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#postContent[contenteditable]:empty::before {
    content: 'Que vous arrive-t-il ?';
    display: inline-block;
    color:grey;
}
#postContent[contenteditable]:empty:focus::before {
    color:grey;
}

.homepageTitle {
    padding:22px 15px;
}

.sidebarMobile {
    background-color:black;
}

.sidebarMobileContainer {
    display:flex;
    justify-content: space-around;
}

.postCreateButton {
    background-color: var(--primary);
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: bold;
}

@media only screen and (max-width: 425px) {
    .sidebarMobile {
        display: block;
    }

}

@media only screen and (max-width: 750px) {
    .sidebarMobile {
        display: block;
    }
    .sidebars {
        display:none;
    }

    .postContainer {
        border-right: none;
    }

}

@media only screen and (max-width: 970px) {
    .sidebarFixed {
        min-width:initial;
        width:65px;
        padding: 4px;
    }

    .sidebarFixed>ul {
        align-items: center;
    }

    .sidebarIMG {
        margin-right: 0;
    }

    .sidebar {
        min-width:initial;
        width:65px;
    }

    .magicButton {
        display:none;
    }

    .menuTxt {
        display:none;
    }

}

.heart {
    fill: var(--secondary);
}

.heart>path {
    stroke: var(--primary);
}

.heart.active {
    fill: var(--primary);
}

.heart.active>path {
    stroke: var(--secondary);
}

.icon:not(.response):hover {
    cursor:pointer;
}

.navigationBtn {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.navigationBtnContainer {
    padding:10px 16px;
    height:58px;
    position:fixed;
    background-color: var(--secondary);
    width:inherit;
    border-bottom: 1px solid var(--borderColor);
}

#postList {

}

.postImage {
    margin-bottom: 16px;
    width:100%;
    max-height:300px;
    object-fit: cover;
}

#postContentImageContainer {

}

#scrollTopBtn {
    position: fixed;
    bottom: 75px;
    right: 25px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    z-index: 1000;
}

#magicButton {
    width:100%;
    padding:8px 16px;
    font-size: 20px;
    margin-top:32px;
}

